<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styleConsult.css">
    <script src="../static/js/appConsult.js"></script>
</head>
<body>
    <h1>Consult page</h1>
    <div>
        <label>id</label> <input type="number" id="idnum"><br><br>
        <textarea id="data"></textarea><br><br>
        <button onclick="consult_user()">Consult</button>
    </div>
</body>
</html>