<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App</title>
    <link rel="stylesheet" href="static/css/styleHome.css">
    <script src="static/js/appHome.js"></script>
</head>
<body>
    <div>
        <h1>Welcome</h1>
        <img src="https://aws-dantor-1.s3.amazonaws.com/mona.jpg"> <br><br>
        <button onclick="go_to_register()">Register</button>
        <button onclick="go_to_consult()">Consult</button>

    </div>
</body>
</html>
